@tailwind base;
@tailwind components;
@tailwind utilities;
@import "nes-ui-react";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
  background-color: #5182ff !important;
}

html.dark {
  height: 100%;
  background-color: #400426 !important;
}

body {
  height: 100%;
  background-image: url("/assets/DayBG.png");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 100%;
  image-rendering: pixelated;
  margin: 0;
  font-family: "__Press_Start_2P_b676d4", "__Press_Start_2P_Fallback_b676d4" !important;
  font-style: normal;
}

body.dark {
  background-image: url(/assets/NightBG.png);
}
